<div class="add-note-container">
    <label for="new-note-title">Title: </label>
    <input id="new-note-title" type="text" #noteTitle />
    
    <label for="new-note-content">Note:  </label>
    <textarea id="new-note-content" type="text" #noteContent></textarea>
    
    <label for="new-note-backgroundcolor">Color: </label>
    <input id="new-note-backgroundcolor" [(colorPicker)]="color" [style.background]="color" cpOutputFormat="rgba"/>

    <div class="btn-container">
        <button class="btn-create" type="button" (click)="addNote(noteTitle.value, noteContent.value, color); noteTitle.value=''; noteContent.value='';">Create</button>
        <button class="btn-back" type="button" (click)="goBack()">Back</button>   
    </div>    
</div>
