/* You can add global styles to this file, and also import other style files */
body {
    margin: 2em;
    background: #dbd8cb;
}

/* everywhere else */
* {
    font-family: 'Courier New', Courier, monospace;
    scrollbar-width: thin;
}